.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-notificationsFrame {
    z-index: 2;
    width: 100%;
    top: 20px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin-bottom: 40px;
}

.App-notificationsFrame .searchInput {
    border: 10px solid red;
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    right: 55px;
    width: 200px;
    height: 34px;
    border-radius: 17px;
    border: none;
    background: #fff;
    padding: 0 17px;
    font-size: 13px;
    color: #666;
    transition: all 0.3s ease-in-out;
    transform: translateX(15px);
    opacity: 0;
    pointer-events: none;
}

.App-notificationsFrame .searchInput:focus {
      outline: none;
  }
.App-notificationsFrame .searchInput.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
 }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
